<h1>{{title}}</h1>

<div class="card text-center" style="width: 750px; margin: auto;">
  <div class="card-header">
    <h4>Add a new Trip</h4>
  </div>
  <div class="card-body">

    <form method="POST" action="/trips/save" style="width: 600px; margin: auto;">    

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Trip Title</span>            
            <input type="text" name="title" class="form-control" placeholder='' aria-label="Username" aria-describedby="basic-addon1" 
            value= "{{#if trip }}{{trip.title}}{{/if}}" required>
        </div>

        <!--
        <div class="input-group mb-3">
             <span class="input-group-text">Trip Date</span>
            <input class="form-control" type="date" name='date' value= "{{#if trip }}{{trip.date}}{{/if}}">
        </div>  
        -->

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Trip Date</span>            
            <input type="text" name="date" class="form-control" placeholder='' aria-label="Username" aria-describedby="basic-addon1" 
            value= "{{#if trip }}{{trip.date}}{{/if}}" required>
        </div>

        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="With textarea" name="desc" required>{{#if trip }}{{trip.desc}}{{/if}}
            </textarea>
        </div>

        <br/>

        <!--
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        -->

        <br/>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

  </div>
</div>